/* Universal Style */
html {
    background-color: black;
    font-family: "Roboto", sans-serif;
    font-size: 16px;

}

body {
  margin: 0; /* Remove a margem padrão do body */
  padding: 0; /* Remove o preenchimento padrão do body */
  min-height: 100vh; /* Define a altura mínima do body como 100% da viewport */
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}


/* Header */
header {


}
/*Menu nav */
nav {
  box-sizing: border-box;
  background: linear-gradient(to right, rgb(95, 1, 83), rgb(0, 0, 0));;
  border-bottom: 1px solid seashell;
  overflow-y: auto;
  padding: 1px;
  position: fixed;
  text-align: center;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 75px;
  z-index: 999;
  display: flex;
  flex-wrap: nowrap;
  align-items: center; 
  justify-content: space-between; /* Distribui os elementos */

}


.nav-link ul{
  margin: 0px;
  padding: 0px;
  display: flex;

}

.nav-link{
   margin-left: auto; /* Empurra o item para a direita */
   margin-right: 15px;


}

.nav-link li{
  display: inline-flex; /* ou inline-block */
  align-items: center; /* alinha verticalmente */

  
}

.nav-link a{
  color: white;
  font-family: helvetica, sans-serif;
  font-size: clamp(12px, 1.8vw, 16px);
  font-weight: 500;
  letter-spacing: 2px;
  padding: 10px 10px;

}

.nav-link a:hover {
   color: #eef0f3e1;
   text-decoration: none;
}

.navbar-logo {
  flex-shrink: 1; /* Impede que a logo encolha */  
    /* Estilos para o link ou div que contém a logo */
  justify-content: flex-start; 
  display: flex;
  margin-left: 15px;
}

.logo {
  max-width: auto; /* Garante que a imagem não ultrapasse o contêiner */
  height: 65px;
}

main {
   flex-grow: 1; /* Mantém o flex-grow 1 para empurrar o rodape para baixo */
}
main.banner {
  .main-content {
  position: relative;
  top: 5.3125rem; /* To offset for fixed header. */
    }
}


/* Banner section */

.banner {
    background-image: url("images/EvilParty-306.jpg");
    background-position: center;
    background-repeat:no-repeat;
    background-size: cover;
    display: flex;
    max-width: auto;
    min-height: 500px;
    flex-direction: column; /* Alinha os itens verticalmente */
    flex-wrap: wrap;
    align-items: center;
    justify-content: center; 
    padding-top: 80px;
    color: rgba(250, 245, 245, 0.753);
}

.logo-div{
    display: flex;
    flex-wrap: wrap;
    overflow: hidden; /* Para evitar que a imagem transborde */
    max-width: auto;
    min-height: 100px;
    align-items: center;
    justify-content: center; 
}

.logotipo-banner {
  width: 75%;
  height: auto;
  object-fit: cover;/*preenche o conteiner e se ajuste automaticamente ao tamanho dele*/
}

.banner h2{
    margin-right: auto; /* Empurra o item para a direita */
    margin-left: 15px;
    font-size: 1.8vw;
}

.banner .button{
    color: white;
    padding: 9px 18px;
    border: 2px solid white;
    border-radius: 10px;
    font-weight: 700;
    margin-left: 20px;
    cursor: pointer;
}

.banner .button:hover {
   background-color: white;
   color: rgba(3, 3, 104, 0.815);

}

/* Events section */

.eventos {
  display: flex;
  justify-content: center;
  padding: 1vw 1.5vw;
  background-color: #f3f3f3;
  max-width: 100%;
  min-height: auto;
  flex-direction: row; /* Alinha os itens verticalmente */
  flex-wrap: wrap;
  align-items: center; 
 
}


.image-container {
  width: 28%; /* Ajuste o tamanho desejado */
  height: auto; /* Ajuste o tamanho desejado */
  margin: 0 3% 15px 3%; /* Adiciona um espaçamento entre as imagens */
  padding: 2.5vw 2.5vw 0 2.5vw;
  background-color: white;
  display: flex;
  flex-direction: column; /* Alinha os itens verticalmente */
  justify-content: center; /* Centraliza horizontalmente */


}

.image-evento img{
  width: 100%;
  height: 100%;
  object-fit: cover; /* Garante que a imagem preencha o espaço sem distorção */
  margin: 0 auto;
}

.content {
  display: flex;
  flex-direction: column; /* Alinha os itens verticalmente */
  flex-wrap: nowrap; /* Permite que o texto quebre em múltiplas linhas */
  justify-content: center ; /* Centraliza horizontalmente */
  align-items: center; /* Centraliza verticalmente */
  width: 100%; /* Largura da div */
  height: auto; /* Altura da div */
 /* border: 1px solid black; /* Apenas para visualização */
  text-align: center;

}

.content h2 {
  padding-bottom: .25rem;
  font-size: clamp(16px, 2vw, 24px);
  font-weight: bold;
  color: #4a4a4a;
  margin-bottom: 1vw;
}

.content h3 {
  font-size: clamp(14px, 1.5vw, 20px);
  font-weight: 300;
  color: #4a4a4a;
  margin-top: 0.5vw; /* Ajusta o espaçamento superior do h3 */
}

.titulo-evento {
  align-self: flex-start;/* Alinha o título à direita */
  display: flex;
  height: auto;
  width: 100%;
  margin: 0;
  padding: 0; 
  line-height: 0.2px;    
}

.titulo-evento h1{
    font-family:Geneva, Tahoma, sans-serif;
    font-size: clamp(18px, 2.2vw, 26px);
    color: rgb(100, 0, 100);
}

/* Abouts section */

.about {
   display: flex;
    max-width: 100%;
    height: 500px;
    flex-direction: row; /* Alinha os itens verticalmente */
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center; 
}

.image-about {

    background-image: url("images/EvilParty-231.jpg");
    background-position: center;
    background-repeat:no-repeat;
    background-size: cover;
    display: flex;
    width: 50%;
    height: 100%;

}

.about-content {
    display: flex;
    width: 50%;
    min-height: 500px;
    flex-direction: column; /* Alinha os itens verticalmente */
    flex-wrap: wrap;
    justify-content: center; 
    margin: 0 30px 10px 30px;
    color: white;
    padding-right: 7vw;
    font-family: "Montserrat", sans-serif;
}

.about-content h3{    
  font-size: clamp(16px, 2.0vw, 22px);
  font-weight: 400;
  line-height: 1;
  text-align: justify;
  margin-top: 0.04vw; /* Ajusta o espaçamento superior do h3 */

}
.about-content h2{    
  font-size: clamp(18px, 2.3vw, 24px);
  font-weight: 400;
  line-height: 1;
  text-align: justify;
  margin-bottom: 0.4vw; /* Ajusta o espaçamento superior do h2 */
  margin-top: 0.4vw; /* Ajusta o espaçamento superior do h3 */
}

/* Team section */

.team{
  background-color: #f3f3f3;
  padding: 1vw 1.5vw;
  max-width: 100%;
  min-height: auto;
  /*flex-direction: row; /* Alinha os itens verticalmente */
  /*align-items: center;  */
}

.teammates {
    display: flex
;
    flex-wrap: wrap;
}

.teammate {
  width: 250px;
  height: 500px;
  display: flex;
  align-items: flex-end;
  flex-grow: 1;
  border: 2px solid white;
}

#lucroft{
  background-image: url(images/lucroft.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top; /* Ou background-position: center 0%; */
}

#nicky{
  background-image: url(images/nicky.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top; /* Ou background-position: center 0%; */
}

#vieira{
  background-image: url(images/lucas3.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top; /* Ou background-position: center 0%; */
}
.description {
    background-color: rgba(0, 0, 0, 0.85);
    color: white;
    width: 100%;
    margin: 0;
    padding: 30px 30px;
}

/* Contact section */
.contact {
  background-color: #2b012b;
  padding: 1vw 1.5vw;
  max-width: 100%;
  min-height: auto;
  /*flex-direction: row; /* Alinha os itens verticalmente */
  /*align-items: center;  */
  color: white;
  display: flex;
  justify-content: space-between;
}

.rede-content{
  display: flex;
  justify-content:flex-start;
  flex-direction: column; /* Alinha os itens verticalmente */
  flex-wrap: nowrap; /* Permite que o texto quebre em múltiplas linhas */
  align-items: center;
}

.rede-content a{
  display: flex;
  align-content: center;
}
.rede-content img{
  width: 55px;
}


.contact h2{    
  font-size: clamp(16px, 2.3vw, 24px);
  font-weight: 400;
  line-height: 1;
}

.contact h3{    
  font-size: clamp(15px, 1.9vw, 21px);
  font-weight: 400;
  line-height: 1;
}

/*footer */

footer {
  padding: 5px 30px;
  border-top: 2px solid #282B37;
  background-color:black;
}

footer p {
    font-size: 0.75rem;
    text-align: center;
    color: #797A7F;
}

@media only screen and (max-width: 895px) {

  .image-container {
  width: 60%; /* Ajuste o tamanho desejado */
  height: auto; /* Ajuste o tamanho desejado */
  }

  .content h2 {
  padding-bottom: .25rem;
  font-size: 1.4rem;
}

.content h3 {
  font-size: 1.2rem;
}

.titulo-evento h1{
    font-size: clamp(16px, 4vw, 22px);
}

.banner h2{
    margin-right: auto; /* Empurra o item para a direita */
    margin-left: 15px;
    font-size: 1.1rem;
}

.about {
  flex-direction: column; /* Alinha os itens verticalmente */
  max-height: 500px;
  justify-content: space-around;
}

.image-about {
  width: 100%;
  max-height: 50%;
}

.about-content {
    width: 90%;
    min-height: auto;
    margin: 0 30px 10px 30px;
    padding: 2vw;
    align-items: center;
}

.about-content h2{
  display: none;
}
}


@media only screen and (max-width: 800px) {

  nav {
    flex-direction: column; /* Alinha os itens verticalmente */
    height: 140px;
    align-items: center; 
    justify-content: space-evenly; /* Distribui os elementos */
    background: linear-gradient(to bottom, rgb(95, 1, 83), rgb(0, 0, 0));;

  
  }

  .navbar-logo {
  margin-left: 0;
  }

  .nav-link{
   margin: 0; /* Empurra o item para a direita */
   padding: 1px;
  }

  .nav-link ul{
  margin: 0px;
  padding: 1px;
  }

  .banner h2{
    display: none;
  }

  .banner .button{
    color: white;
    padding: 5px 14px;
    border: 2px solid white;
    border-radius: 10px;
    font-weight: 700;
    margin-left: 15px;
    cursor: pointer;
    font-size: 3vw;
}

  .image-container {
  width: 60%; /* Ajuste o tamanho desejado */
  height: auto; /* Ajuste o tamanho desejado */
  }

  .content h2 {
  padding-bottom: .25rem;
  font-size: 1.2rem;
}

.content h3 {
  font-size: 0.8rem;
}

.titulo-evento h1{
    font-size: clamp(14px, 3.5vw, 20px);
}

.banner h2{
    margin-right: auto; /* Empurra o item para a direita */
    margin-left: 15px;
    font-size: 1.1rem;
  }
}
